/* App.css */

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom right, #f8fafc, #eef2ff);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096;
}